.rangeTitle {
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: bold;
}

.rangePrice {
  background: rgba(31, 31, 31, 0.2);
  border-radius: 25px;
  display: inline-block;
  width: 60px;
  text-align: center;
  padding: 3px 0;
  color: #333333;
  font-weight: normal;
}
