@media (max-width: 1200px) {
    .section {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-bottom: 1px solid $dark-color;
    }

    .dropdown {
        max-height: 0;
        overflow: hidden;
        transition: $transition-time;
    }

    .menu {
        margin-bottom: 8px;
    }
    
    .title {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid $dark-color;

        &::after {
            content: '';
            position: absolute;
            top: 3px;
            right: 10px;
            width:8px;
            height: 8px;
            border-top: 1px solid $dark-color;
            border-right: 1px solid $dark-color;
            transform: rotate(45deg);
            transition: $transition-time;
        }

        &.active::after {
            transform: rotate(135deg);
        }
    }
    
    .item {
        margin-bottom: 10px;
    }
    
    .link {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    
    .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    .payment {
        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background-color: $bg-light;
            border-radius: 8px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        &-icon {
            width: 26px;
            height: 26px;
        }
    }
}

@media (min-width: 1200px) {
    .section {
        display: none;
    }
}