
.text {
  text-align: justify;
  margin-bottom: 0.6em;

  & strong {
    font-weight: bold;
  }

  h1 {
    margin-bottom: 1.2em;
    font-size: 1.4em;
    font-weight: 600;
  }

  h2 {
    margin-bottom: 1em;
    font-weight: 600;
  }

  p, ul {
    margin-bottom: 1.2em;
  }

  li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.6em;

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 9px;
      left: 15px;
      background-color: $text-color-dark;
    }
  }
}

.loadMoreContainer {
  text-align: center;
}

.loadMore {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}