.btn {
  width: 270px;
  height: 51px;
  background: #333333;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEFEFE;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.07em;
  cursor: pointer;
}