.field {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px;
  color: #333333;
  border-bottom: 2px solid #1F1F1F;
  background: transparent;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 23px;
  height: 108px;

  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: rgba(14, 14, 14, 0.5);
  }
}