.text {
    line-height: 1.2em;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 1.2em;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .text {
        font-size: 17px;
    }
}